@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}
body{
    background:url(../imagens/fondo0044.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}
main {
    position: relative;
    height: 100vh;
}
section#phone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 627px;
    width: 311px;
    background-color: aqua;
    background: url(../imagens/frame-iphone.png) no-repeat;
}
iframe#tela{
    position: relative;
    top: 80px;
    left: 22px;
    width: 269px;
    height: 471px;
}
section#redes-networking{
    text-align: right;
}
section#redes-networking > a > img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 5px 4px 6px black;
    box-sizing: border-box;
}
section#redes-networking img:hover {
    border: 2px solid rgba(255, 255, 255, 0.616);
    transform: translate(5px, 5px);
    transition: transform .4s;
}